body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}
main {
  min-height: calc(100vh - 108px - 65px);
}
.card {
  text-transform: capitalize;
}
.card .card-image img {
  max-height: 340px;
  object-fit: cover;
}
.card .card-image .card-title {
  background-color: rgba(0,0,0,0.75);
  width: 100%;
}
.card .card-image + div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card-action {
  border: none;
}
.foFlex {
  display: flex;
  align-items: center;
}
.fogrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.preloader-wrapper.big.active {
    margin: 4rem auto;
    display: block;
}
.row input:focus + label {
  -webkit-transform: translateY(-14px) scale(0.8);
  transform: translateY(-14px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
